body{
 color: #424242;
 background-color: #ECEFF1;
 font-family: sans-serif;
}

.todo-card{
  background-color: #FFF;
  padding: 20px;
  width: 60%;
  margin: 80px auto 0px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #90A4AE;
}