body{
 background-color: #CFD8DC;
 font-family: sans-serif;
}

h1{
  color: #424242;
  text-align: center;
  margin-top: 20px;
}

ul{
  list-style: none;
  background-color: #FAFAFA;
  font-size: 20px;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}

li{
  margin-bottom: 10px;
  padding: 5px 0px 5px 0px;
}

.new-todo-block{
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.new-todo{
  font-size: 20px;
  background-color: #FAFAFA;
  outline: none;
}

.pomodoro-estimate{
  font-size: 20px;
  background-color: #FAFAFA;
  outline: none;
}

.add-new-todo{
  font-size: 20px;
}