body{
 color: #424242;
 background-color: #CFD8DC;
 font-family: sans-serif;
}

h1{
  text-align: center;
  margin-top: 20px;
}

ul{
  list-style: none;
  background-color: #FAFAFA;
  font-size: 20px;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #90A4AE;
}

li{
  margin-bottom: 10px;
  padding: 5px;
}

li:hover{
  background-color: #ECEFF1;
  border-radius: 3px;
}

.new-todo-block{
  width: 60%;
  margin: 20px auto 0px auto;
}

.new-todo{
  font-size: 20px;
  background-color: #FAFAFA;
  outline: none;
  border-style: none;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #90A4AE;
}

.pomodoro-estimate{
  font-size: 20px;
  background-color: #FAFAFA;
  outline: none;
  border-style: none;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #90A4AE;
}

.add-new-todo{
  font-size: 20px;
}